<h1>Listing posts</h1>

<table>
  <tr>
    <th>Blog</th>
    <th>Body</th>
    <th>Author</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.blog_id %></td>
    <td><%= post.body %></td>
    <td><%= post.author %></td>
    <td><%= post.tags %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
